.actividades{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.actividad{
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--morado_claro);
    gap: 1.5rem;
    padding: 0 1rem;
    width: 75%;
}
.iconoActividad{
    padding: 0 0.5rem;
}
