h1{
  text-align: center;
}

.header .cont-header {
  padding: 2rem;
}
.nav-prin a {
  display: block;
  text-align: center;
  color: white;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.nav-prin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .nav-prin {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
@media (min-width: 768px) {
  .nav-prin-principal a {
    margin: 0;
  }
}
.nav-prin a:hover {
  color: #752f97;
}
.btn-second{
  background-color: rgb(13, 241, 13);
}
.btn-third{
  background-color: rgb(220, 18, 18);
  
}
.btn-third a{
  color: white;
}
.btn-second a{
  color: red;
}
.btn-second {
  color: var(--blanco);
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 20px;
  border: none;
  background-color: var(--azul);
  background-image: linear-gradient(
    to bottom,
    rgba(20, 238, 12, 0.968),
    rgba(16, 240, 24, 0.5)
  );
  display: inline-block;
}
.btn-third {
  color: var(--blanco);
  border-radius: 10px;
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 20px;
  border: none;
  background-color: var(--azul);
  background-image: linear-gradient(
    to bottom,
    rgba(238, 12, 12, 0.968),
    rgba(235, 11, 29, 0.5)
  );
  display: inline-block;
}