:root {
  --verde: #4cb8b3;
  --rojorosa: #ff0073;
  --morado: #4d0754;
  --morado_claro: #752f97;
  --azul: #410cbd;
  --blanco: #ffffff;
  --gris: #e1e1e1;
  --blancorosa: #e7dae7;
  --negro: #000000;
  --telefono: 480px;
  --tablet: 768px;
  --desktop: 992px;
  --desktopXL: 1200px;
  --fuenteOriginal: "Prompt", sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  /*background: rgb(77, 7, 84);*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteOriginal);
  font-size: 1.6rem;
}
p {
  font-size: 2rem;
  color: var(--blanco);
  line-height: 1.5;
}
.contenedor {
  width: min(95%, 120rem);
  height: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin: 0 0 5rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.3rem;
}
h3 {
  font-size: 3rem;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}
